In [29]:
# Import required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor



# Load the datafram from CSV
df = pd.read_csv('processed_car_ads.csv')

# Print the dataframe
print(df)

     maker    model  mileage  manufacture_year  engine_displacement  \
0     ford   galaxy   151000            2011.0                 2000
1    skoda  octavia   143476            2012.0                 2000
2      bmw      NaN    97676            2010.0                 1995
3    skoda    fabia   111970            2004.0                 1200
4    skoda    fabia   128886            2004.0                 1200
..     ...      ...      ...               ...                  ...
222   ford    focus   136074            2011.0                 1600
223   ford   mondeo   137382            2011.0                 2000
224   ford   fiesta   138000            2004.0                 1398
225    NaN      NaN   288000            1998.0                 1896
226    kia      rio    92080            2006.0                 1400

     engine_power  body_type  color_slug  stk_year transmission  door_count  \
0           103.0        NaN         NaN       NaN          man         5.0
1            81.0        NaN         NaN       NaN          man         5.0
2            85.0        NaN         NaN       NaN          man         5.0
3            47.0        NaN         NaN       NaN          man         5.0
4            47.0        NaN         NaN       NaN          man         5.0
..            ...        ...         ...       ...          ...         ...
222          70.0        NaN         NaN       NaN          man         5.0
223         103.0        NaN         NaN       NaN          man         5.0
224          59.0        NaN         NaN       NaN          man         3.0
225          50.0        NaN         NaN       NaN          man         4.0
226          71.0        NaN         NaN       NaN          man         5.0

     seat_count fuel_type         date_created       date_last_seen  price_eur
0           7.0    diesel  2015-11-14 18:10:06  2016-01-27 20:40:15   10584.75
1           5.0    diesel  2015-11-14 18:10:06  2016-01-27 20:40:15    8882.31
2           5.0    diesel  2015-11-14 18:10:06  2016-01-27 20:40:15   12065.06
3           5.0  gasoline  2015-11-14 18:10:06  2016-01-27 20:40:15    2960.77
4           5.0  gasoline  2015-11-14 18:10:06  2016-01-27 20:40:15    2738.71
..          ...       ...                  ...                  ...        ...
222         5.0    diesel  2015-11-14 18:55:23  2016-01-27 20:40:15    8138.45
223         5.0    diesel  2015-11-14 18:55:23  2016-01-27 20:40:15   10173.95
224         5.0  gasoline  2015-11-14 18:55:23  2016-01-27 20:40:15    2553.66
225         NaN    diesel  2015-11-14 18:55:23  2016-01-27 20:40:15    2405.63
226         5.0  gasoline  2015-11-14 18:55:23  2016-01-27 20:40:15    3700.96

[227 rows x 16 columns]

In [30]:
# Convert date strings to datetime objects and extract useful features
for col in ['date_created', 'date_last_seen']:
    df[col] = pd.to_datetime(df[col])
    df[col+'_year'] = df[col].dt.year
    df[col+'_month'] = df[col].dt.month
    df[col+'_day'] = df[col].dt.day
    df[col+'_hour'] = df[col].dt.hour
    df[col+'_minute'] = df[col].dt.minute

# Drop the original date columns
df = df.drop(columns=['date_created', 'date_last_seen'])

# Print the dataframe
print(df)

# Convert all columns to string
df = df.astype(str)

# Convert non-numeric values to numeric using LabelEncoder
label_encoder = LabelEncoder()
for column in df.columns:
    df[column] = label_encoder.fit_transform(df[column])

     maker    model  mileage  manufacture_year  engine_displacement  \
0     ford   galaxy   151000            2011.0                 2000
1    skoda  octavia   143476            2012.0                 2000
2      bmw      NaN    97676            2010.0                 1995
3    skoda    fabia   111970            2004.0                 1200
4    skoda    fabia   128886            2004.0                 1200
..     ...      ...      ...               ...                  ...
222   ford    focus   136074            2011.0                 1600
223   ford   mondeo   137382            2011.0                 2000
224   ford   fiesta   138000            2004.0                 1398
225    NaN      NaN   288000            1998.0                 1896
226    kia      rio    92080            2006.0                 1400

     engine_power  body_type  color_slug  stk_year transmission  ...  \
0           103.0        NaN         NaN       NaN          man  ...
1            81.0        NaN         NaN       NaN          man  ...
2            85.0        NaN         NaN       NaN          man  ...
3            47.0        NaN         NaN       NaN          man  ...
4            47.0        NaN         NaN       NaN          man  ...
..            ...        ...         ...       ...          ...  ...
222          70.0        NaN         NaN       NaN          man  ...
223         103.0        NaN         NaN       NaN          man  ...
224          59.0        NaN         NaN       NaN          man  ...
225          50.0        NaN         NaN       NaN          man  ...
226          71.0        NaN         NaN       NaN          man  ...

     date_created_year  date_created_month date_created_day  \
0                 2015                  11               14
1                 2015                  11               14
2                 2015                  11               14
3                 2015                  11               14
4                 2015                  11               14
..                 ...                 ...              ...
222               2015                  11               14
223               2015                  11               14
224               2015                  11               14
225               2015                  11               14
226               2015                  11               14

     date_created_hour  date_created_minute  date_last_seen_year  \
0                   18                   10                 2016
1                   18                   10                 2016
2                   18                   10                 2016
3                   18                   10                 2016
4                   18                   10                 2016
..                 ...                  ...                  ...
222                 18                   55                 2016
223                 18                   55                 2016
224                 18                   55                 2016
225                 18                   55                 2016
226                 18                   55                 2016

     date_last_seen_month  date_last_seen_day  date_last_seen_hour  \
0                       1                  27                   20
1                       1                  27                   20
2                       1                  27                   20
3                       1                  27                   20
4                       1                  27                   20
..                    ...                 ...                  ...
222                     1                  27                   20
223                     1                  27                   20
224                     1                  27                   20
225                     1                  27                   20
226                     1                  27                   20

     date_last_seen_minute
0                       40
1                       40
2                       40
3                       40
4                       40
..                     ...
222                     40
223                     40
224                     40
225                     40
226                     40

[227 rows x 24 columns]

In [31]:
# Split the data into features and target variable
X = df.drop('price_eur', axis=1)
y = df['price_eur']

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the model and parameters
model = RandomForestRegressor(random_state=42)
parameters = {'n_estimators': [50, 100, 200, 500]}

In [32]:
# Define the GridSearchCV object
grid_obj = GridSearchCV(model, parameters, cv=3, scoring='neg_mean_squared_error')

# Fit the grid search object to the data
grid_obj = grid_obj.fit(X_train, y_train)

# Get the estimator
model = grid_obj.best_estimator_

In [33]:
# Fit the best model to the training data
model.fit(X_train, y_train)

# Make predictions on validation set
predictions = model.predict(X_val)

In [34]:
# Calculate mean squared error
mse = mean_squared_error(y_val, predictions)
print(f'The calculated mean Squared Error: {mse}')

The calculated mean Squared Error: 1258.3428320652174